<div class="hold-transition layout-top-nav">
    <div class="wrapper">
    
      <!-- Navbar -->
      <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <div class="container">
          <a  routerLink="" class="navbar-brand">
            <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <!-- <span class="brand-text font-weight-light">AdminLTE 3</span> -->
          </a>
    
          <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="" class="nav-link">School Management</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Features</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">MarketPlace</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Contact Us</a>
              </li>
              <li class="nav-item">
                <a  routerLink="register" class="nav-link">Register</a>
              </li>
              <li class="nav-item">
                <a  routerLink="login" class="nav-link">Login</a>
              </li>
           
            
            </ul>
    
            <!-- SEARCH FORM -->
        
          </div>
    
          <!-- Right navbar links -->
         
        </div>
      </nav>
      <!-- /.navbar -->
    
     
    
      
      <!-- /.control-sidebar -->
    
      <!-- Main Footer -->
    
    </div>
    <!-- ./wrapper -->
    
    <!-- REQUIRED SCRIPTS -->
   
</div>