
<div class="wrapper">
  <!-- Navbar -->
<app-admin-navbar></app-admin-navbar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
 <app-admin-sidebar></app-admin-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
   

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
       
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title"><i class="fa fa-users" aria-hidden="true"></i> Administrators</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Last Login</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr *ngFor="let admin of adminUsers ;let i = index">
                      <td>{{i+1}}</td>
                      <td> {{admin.fullName}}</td>
                      <td>{{admin.username}}</td>
                      <td><span class="tag tag-success">{{admin.email}}</span></td>
                      <td>{{admin.last_login}}</td>
                      <td> 
                       
        
                        <a href="#" routerLink="edit/{{admin.id}}" class="btn btn-primary"><span class="fa fa-edit"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button  ngClick="remove(admin,$index)" type="button" class="btn btn-outline-danger btn-sm" title="Remove"><span class="fa fa-trash"></span></button>

                      
                       
                    </tr>
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
     
        <!-- /.row -->
    
       
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>
  <!-- /.content-wrapper -->
  
